.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero h1{
    text-align: center;
    font-size: 5vw;
    color: black;
    position: relative;
    -webkit-text-stroke: 0.05vw rgb(109, 107, 107);
    text-transform: uppercase;
    
}

.hero h1:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    color: white;
    -webkit-text-stroke: 0vw rgb(109, 107, 107);
    border-right: 2px solid white;
    overflow: hidden;
    text-shadow: 0 0 5px #fff;
  
    animation: heroAnimation 6s linear infinite;
}

@keyframes heroAnimation{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}

@media (max-width:800px){
    .hero h1{
        font-size:7vw ;
    }
}