.eventInfo {
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  height: 80vh;
  overflow: auto;
  scrollbar-width: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.eventInfo h1 {
  color: white;
  text-decoration: underline;
}

.plannedEvents {
  width: 100%;
  height: 90%;
  overflow: scroll;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.plannedEvent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  max-width: 450px;
  margin: 10px;
  height: 150px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 30px;
  position: relative;
  background-color: black;
  background-color: transparent;
  color: white;
  border: 3px double white;
}

.plannedEvent:hover{
  transform: scale(1.3);
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
    
}
/*
.plannedEvent::after,.plannedEvent::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),transparent 30%,white,black,white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 30px;
    padding: 3px;
    animation: spin 3s linear infinite;
    
}

.plannedEvent::before{
    filter: blur(1.5rem);
    opacity: 0.3;
}

@keyframes spin{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}*/
.plannedEvent h2 {
  max-width: 80%;
}

.plannedEvent span {
  font-size: 15px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);

}

.days {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 80%;
}

.day {
  width: 100px;
  height: 50px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: white;
}

.day:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width:500px){
  .plannedEvent span{
    font-size: 18px;
  }
}
