.eventInfo {
  padding-top: 5px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  height: 80vh;
  overflow: auto;
  scrollbar-width: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.eventInfo h1 {
  color: white;
  text-decoration: underline;
}

.eventInfo span{
  color: white;
}

.plannedEvents {
  width: 100%;
  height: 90%;
  overflow: scroll;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.plannedEvent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  
  align-items: center;
  justify-content: space-around;
  text-align: center;
  max-width: 450px;
  margin: 10px;
  height: 150px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 30px;
  position: relative;
  background-color: black;
  background-color: transparent;
  color: white;
  border: 3px double white;
}

.plannedEvent:hover{
  transform: scale(1.2);
}

.plannedEvent h2 {
  max-width: 85%;
}

.preEvent{
  perspective: 10000px;
}

.eventInfoCard{
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}

.eventDetails{
  width: 250px;
  height: 250px;
  transform: rotateY(180deg);
  background-color:transparent;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.eventDetails a{
  padding: 3px;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 3px;
}

.plannedEvent .eventImage,.preEvent{
  padding: 0;
  width: 250px;
  height: 300px;
  border-radius: 10px;
}

.eventImage{
  transform: rotateY(0deg);
  border: 1px solid white;
  border-radius: 10px;
}

.eventImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.eventImage,.eventDetails{
  position: absolute;
  backface-visibility: hidden;
}
.preEvent:hover .eventInfoCard{
  transform: rotateY(180deg);

}

.plannedEvent span {
  font-size: 15px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);

}

.days {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 80%;
}

.day {
  width: 100px;
  height: 50px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.day:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width:500px){
  .plannedEvent span{
    font-size: 18px;
  }
}
