.sidebar{
    position: absolute;
    top: 80px;
    left: 30px;
    color: white;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 5px;
    border-radius: 30px;
    background-color: black;
    z-index: 10;
}

.sidebarIcon{
    width: 35px;
    height: 35px;
    background-color: transparent;
    padding: 5px;
}

@media (min-width:501px){
    .sidebar{
        display: none;
    }
}