.sidebar {
  color: white;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 30px;
  background-color: transparent;
  z-index: 10;
}

.sidebar span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  font-weight: bold;
}

.sidebarIcon {
  width: 30px;
  height: 30px;
  background-color: transparent;
  padding: 5px;
}

/*
@media (min-width:501px){
    .sidebar{
        display: none;
    }
}*/
