.eventCard{
    display: flex;
    gap: 10px;
    padding: 5px;
    margin-block: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   gap: 15px;
}

.image{
    width: 150px;
    height: 150px;
    border-radius: 25px;
    transition: all 0.3s linear;
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    
}

.image:hover{
    height: 175px;
    width: 175px;
}

.eventCard .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eventCard .details span{
    font-weight: bold;
    font-size: 40px;
}

