nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  transition: all 0.3s ease;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 background-color: transparent;
  width: 99vw;
}

.nav-left {
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 5px #fff;
}

.nav-right {
  font-size: 20px;
  height: 40px;
  padding: 5px 10px;
  letter-spacing: 2px;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  background-color: transparent;
}

.nav-links{
    display: flex;
    gap: 10px;
}

.nav-links li{
  font-size: 20px;
  transition: all 0.3s ease;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.nav-links li:hover{
  border-bottom: 2px solid white;
}

@media (max-width:500px){
  .nav-links{
    display: none;
  }
}
