footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-size: 22px;
    z-index: 100;
    color: white;
    background-color: transparent;
}