*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

::-webkit-scrollbar{
  display: none;
  width: 0;
}

.app{
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.samples{
   
    position: absolute;
}

.app{
    height: 100vh;
    overflow: scroll;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #0c192c;
    background: black;
}

.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255, 255, 255, 0.8);
}

.box div:nth-child(1){
    top: 12%;
    left: 50%;
    animation: boxAnimation 7s linear infinite;
}

.box div:nth-child(2){
    top: 70%;
    left: 42%;
    animation: boxAnimation 10s linear infinite;
}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: boxAnimation 9s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: boxAnimation 10s linear infinite;
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: boxAnimation 6s linear infinite;
}
.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: boxAnimation 12s linear infinite;
}
.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: boxAnimation 15s linear infinite;
}
.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: boxAnimation 16s linear infinite;
}
.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: boxAnimation 9s linear infinite;
}
.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: boxAnimation 5s linear infinite;
}

@keyframes boxAnimation{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

@keyframes fadeRight{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeLeft{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeDown{
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeUp{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.backVideo{
  height: 80vh;
  width: 90%;
  background-position: absolute;
  z-index: 10;
  object-fit: cover;
}
@media (min-aspect-ratio:16/9){
  .backVideo{
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio:16/9){
  .backVideo{
    width: auto;
    height: 100%;
  }
}

