.events {
  display: flex;
  color: white;
  width: 100%;
  gap: 10px;
  height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.events h1{
  text-decoration: underline;
}

.eventsPlanned {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media (max-width:500px){
  .eventsPlanned{
    flex-direction: column;
  }
}
