.about{
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: scroll;
    color: white;
}

.about h1{
    color: white;
    text-decoration: underline;
}

.about p{
    max-width: 45%;
    font-weight: 500;
    font-size: 22px;
    color: white;
    animation: fadeRight 2s linear;
}

.aboutDetails{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  flex-direction: column;
}
.about .logo{
    border: 2px solid white;
    height: 220px;
    width: 220px;
    border-radius: 50px;
    animation: fadeLeft 2s linear;
}

.aboutDetails span{
    font-size: 25px;
    font-weight: bold;
    animation: fadeLeft 2s linear;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

@media (max-width:700px){
    .about{
        flex-direction: column;
    }

    .aboutDetails{
        flex-direction: column;
    }

    .about p{
        max-width: 90%;
        font-size: 18px;
        text-align: justify;
        line-height: 30px;
    }
}
